html {
  background-color: #ffe500;
  font-family: Georgia;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Sigmar One", serif;
  color: #b20953;
  text-align: center;
  font-size: 3rem;
  background-color:#ffe500;
  margin: auto;
  max-width: 100%;
  height: auto;
}

h2 {
  font-family: "Sigmar One", serif;
  color: #b20953;
  text-align: left;
  font-size: 1.875rem;
}

p {
  font-family: serif;
  color: #2f2d13;
}

img {
  display: block;
  Corner radius: 4px;
  margin: auto;
  height: auto;
  max-width: 100%;
  padding: 0.75em;
}

header {
    background-color:#ffe500;
    margin: 0 auto;
}

footer {
  background-color: #ffe500;
  text-align: center;
  height: 50px;
  display: block;
}

.nav li {
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  padding: .2em .5em .3em;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.25);
  overflow: auto;

}

.nav :hover {
  background-color: #cc1465;
}

.nav a {
  padding: .2em .5em .3em;
  margin: .3em
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}
.current {
  background-color: #cc1465;
}
