html {
  background-color: #ffe500;
  font-family: Georgia;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Sigmar One", serif;
  color: #b20953;
}

body {
  margin: .3em;
  padding: .2em .5em .3em;
}

.nav {

}

.nav li {

}

.nav:hover {

}

.current {

}
